{% extends "layout.html" %}
{% block main %}
        <!-- Fill viewport -->
        <div class="container-fluid">

            <!-- http://getbootstrap.com/css/#forms -->
            <form action="/automated_testing" method="post" id="form" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file">
                </div>
                 <div class="col text-center">
                    <button class="btn btn-primary" id="button" type="submit", value="Upload">upload</button>
                </div>
            </form>
        </div>
{% endblock %}
